<div class="tbs-hero-container">
    <div class="tbs-hero">
        <div class="tbs-hero-picture"></div>
        <div class="tbs-hero-text">
            <div class="tbs-hero-text-tournesol">Le Tournesol</div>
            <div class="tbs-hero-text-aliment">Aliments Naturels et Biologiques</div>
            <div class="tbs-hero-text-detail">
                Établi en 1993, Le Tournesol est fier de vous fournir des alternatives à la médecine moderne pour vos besoins quotidiens à des prix compétitifs pour accommoder votre budget. Au cours des dernières années, nous avons continué à nous rénover pour répondre aux différentes demandes.
                <br />
                <a href="https://maps.app.goo.gl/rQq13dKFqf5WnVqd9" target="_blank">1251 Rue Beaubien E, Montréal</a>
            </div>
        </div>
    </div>
</div>

<div class="tbs-recherche-container">
    <div class="tbs-recherche">
        <div class="tbs-recherche-text">Vous cherchez un produit en particulier?</div>
        <div class="tbs-recherche-control">
            <span id="search-top-move"></span>
        </div>
    </div>
</div>

<div class="tbs-category-container">

    <h2>Magasinez par catégorie</h2>

    <div class="tbs-category">
        <div class="tbs-category-item produits">
            <a href="/fr/Produits-c216">
                <div class="categorie-image produits"></div>
                Produits
            </a>
        </div>
        <div class="tbs-category-item sante">
            <a href="/fr/Sante-c221">
                <div class="categorie-image sante"></div>
                Santé
            </a>
        </div>
        <div class="tbs-category-item cosmetiques">
            <a href="/fr/Cosmetiques-c220">
                <div class="categorie-image cosmetiques"></div>
                Cosmétiques
            </a>
        </div>
        <div class="tbs-category-item epicerie">
            <a href="/fr/Epicerie-c219">
                <div class="categorie-image epicerie"></div>
                Épicerie
            </a>
        </div>
    </div>
</div>