:root {
    --contain-max-width: 1500px;
    --color-yellow: #F4D548;
    --color-yellow2: #ffb72e;
    --color-black: #313320;
    --color-green: #548B4F;
}



/** Elements to hide 

#mNPL,
#top-logo,
#menu-top

#topbar .container .divSearch,
#topbar .container .divSignIn
 {
    display: none;
}
*/

.container-fluid {
    padding: 0;
}


/** COMMUN */
body {
    font-family: "Inter", sans-serif;
}

body.text-hide-fr .tbs-hide-fr {
    display: none;
}

body.text-hide-en .tbs-hide-en {
    display: none;
}

.page-home h1,
.page-home h2,
.page-home h2 a,
.page-home h2 a:hover,
.page-home h3 {
    font-weight: 900;
    color: var(--color-black);
    text-align: center;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 36px;
    padding-right: 0;
    padding-left: 0;
}

#footer h2,
#footer h3 {
    text-align: initial;
    padding: initial;
}

#footer #categories a {
    padding-bottom: 4px;
    display: block;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active {
    background-color: var(--color-yellow2) !important;
    border: 0 !important;
    color: var(--color-black);
}

.btn-primary:hover {
    background-color: var(--color-yellow2) !important;
    border: 0 !important;
    color: #fff;
}


/** TOP BAR */
#topbar {
    background-color: var(--color-black);
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1em;
    font-size: 1.3em;
}

#topbar .container .divSearch {
    color: #fff;
    font-size: 10px;
    letter-spacing: normal;
    text-wrap: nowrap;
}

#topbar .container .divSignIn .Login {
    color: #fff;
    font-size: 10px;
    letter-spacing: normal;
    text-wrap: nowrap;
}

/** FOOTER */



#footer {
    background-color: var(--color-green);
    color: #fff;
    margin-top: 30vh;
}

#footer a {
    color: #fff;
}

#footer #sections {
    padding-top: 10px;
}

#footer .zone-infolettre {
    background-color: var(--color-yellow);
}

@media (max-width: 1200px) {

    #footer #infolettre .newsletter {
        display: block;
    }

    #footer .zone-infolettre #media-sociaux {
        margin-top: 5vh;
        float: none;
    }
}

@media (max-width: 770px) {

    #footer #infolettre .newsletter .btn-ok {
        margin-top: 16px;
        margin-left: 5px;
        display: block;
        width: fit-content;
    }
}

/** MENU */
.navbar .navbar-nav li.nav-item {
    border: 0;
}

.navbar .dropdown-menu .dropdown-item {
    color: #b6c74e;
}

/** PAGES */
#breadcrumb {
    padding-top: 50px;
    padding-bottom: 22px;
}

#menu-left h3 {
    font-size: 16px;
}

/** HERO */
.tbs-hero-container {
    background-color: var(--color-yellow);
    margin-top: 125px;
}

.tbs-hero {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    max-width: var(--contain-max-width);
    margin: 0 auto;
    gap: 2em;
    color: var(--color-black);
}

.tbs-hero .tbs-hero-picture {
    flex: 1;
    background-image: url(/Tournesol_custom/images/home-picture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    background-position: bottom;
}

.tbs-hero .tbs-hero-picture img {
    width: 100%;
}

.tbs-hero .tbs-hero-text {
    flex: 1;
    padding-top: 29px;
    padding-bottom: 29px;
}

.tbs-hero .tbs-hero-text .tbs-hero-text-tournesol {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3em;
}

.tbs-hero .tbs-hero-text .tbs-hero-text-aliment {
    font-weight: 800;
    font-size: 4em;
    line-height: 0.9;
    margin-top: 0.2em;
    margin-bottom: 0.4em;
}

.tbs-hero .tbs-hero-text .tbs-hero-text-detail {
    font-size: 1.1em;
}

@media (max-width: 700px) {
    .tbs-hero {
        flex-wrap: wrap-reverse;
    }

    .tbs-hero .tbs-hero-text,
    .tbs-hero .tbs-hero-picture {
        flex: 1 1 100%;
        /* Make each item take full width on small screens */
    }
}


/** RECHERCHE */
.tbs-recherche-container {
    margin-top: 300px;
    margin-bottom: 300px;
    background-color: var(--color-green);
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

.tbs-recherche {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    max-width: var(--contain-max-width);
    margin: 0 auto;
    gap: 2em;
}

.tbs-recherche .tbs-recherche-text {
    flex: 1;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-size: 35px;
    line-height: 1em;
}

.tbs-recherche .tbs-recherche-control {
    flex: 1;
}

.tbs-recherche .tbs-recherche-control #tbs-search {
    display: block;
    border-radius: 100px;
    border: 0px;
    font-size: 1em;
    padding: 18px 71px 22px 35px;
    background-image: url(/Tournesol_custom/images/icons8-search-50.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-size: 42px;
    background-position-x: 96%;
    width: 100%;
}

@media (max-width: 700px) {
    .tbs-recherche {
        flex-wrap: wrap;
    }

    .tbs-recherche .tbs-recherche-control,
    .tbs-recherche .tbs-recherche-text {
        flex: 1 1 100%;
        /* Make each item take full width on small screens */
    }
}

/** CATÉGORIES */
.tbs-category-container {
    margin-top: 300px;
    margin-bottom: 300px;
    background-color: #E9EFDE;
    padding-top: 100px;
    padding-bottom: 100px;
}

.tbs-category {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    max-width: var(--contain-max-width);
    margin: 0 auto;
    gap: 2em;
}

.tbs-category .tbs-category-item {
    flex: 1;
    text-align: center;
    font-size: 600;
}

.tbs-category .tbs-category-item .categorie-image {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    padding: 13px;
    background-color: #E9EFDE;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
    margin: auto;
    margin-bottom: 17px;
}

.tbs-category .tbs-category-item a {
    color: var(--color-black);
    font-weight: 800;
}

.tbs-category .tbs-category-item a:hover {
    text-decoration: none;
}

.tbs-category .tbs-category-item.produits .categorie-image {
    background-image: url(/Tournesol_custom/images/categorie-produits.png);
    background-color: #d1e1b5;
}

.tbs-category .tbs-category-item.sante .categorie-image {
    background-image: url(/Tournesol_custom/images/categorie-sante.png);
    background-color: #b6c74e;
}

.tbs-category .tbs-category-item.cosmetiques .categorie-image {
    background-image: url(/Tournesol_custom/images/categorie-cosmetiques.png);
    background-color: #73bd3f;
}

.tbs-category .tbs-category-item.epicerie .categorie-image {
    background-image: url(/Tournesol_custom/images/categorie-epicerie.png);
    background-color: #548b4f;
    background-size: 55%;
}

@media (max-width: 700px) {
    .tbs-category {
        flex-wrap: wrap;
    }

    .tbs-category .tbs-category-item {
        flex: 1 1 30%;
        /* Make each item take full width on small screens */
    }
}


/** PRODUITS ACCUEIL */
.customProduct {
    border-radius: 8px;
    padding: 14px;
    -webkit-box-shadow: 8px 2px 7px -4px rgba(199, 199, 199, 0.73);
    box-shadow: 6px 6px 5px -4px rgba(199, 199, 199, 0.73);
    border: solid 2px #e8e8e8;
}

.customProduct:hover {
    border: solid 2px var(--color-yellow);
}

.customProduct .titre {
    font-weight: 600;
    padding-top: 15px
}

.customProduct .produit-image {}

.customProduct .prix {
    padding-top: 24px;
}

.customProduct img.product-image-primary {
    border: 0;
}



/** PRODUITS LISTING */
.single-product-flex {
    border-radius: 8px;
    padding: 14px;
    -webkit-box-shadow: 8px 2px 7px -4px rgba(199, 199, 199, 0.73);
    box-shadow: 6px 6px 5px -4px rgba(199, 199, 199, 0.73);
    border: solid 2px #e8e8e8;
    padding-top: 45px;
}

.single-product-flex:hover {
    border: solid 2px var(--color-yellow);
}

.single-product-flex:hover .product-add-to-cart {
    background-color: var(--color-yellow2);
}

.single-product-flex a {
    color: var(--color-black);
    text-decoration: none;
}

.single-product-flex .titre {
    font-weight: 600;
    padding-top: 15px
}

.single-product-flex .product-brand {
    font-size: 0.9em;

}

.single-product-flex .prix {
    padding-top: 24px;
}

.single-product-flex img {
    border: 0;
}

.listing-produits>div {
    margin-bottom: 52px;
}

.single-product-flex .product-add-to-cart {
    background-image: url(/Tournesol_custom/images/icons8-caddie-96.png);
    background-color: var(--color-green);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 68%;
    background-position-x: 6px;
    background-position-y: 6px;
    height: 33px;
    width: 33px;
    border-radius: 33px;
    position: absolute;
    top: 10px;
    right: 10px;
}


.single-product-flex .proIcon {
    z-index: auto;
    left: 5px;
    right: auto;
}

.single-product-flex .proIcon .proMsg {
    width: 75px;
    text-wrap: wrap;
}