<?xml version="1.0"?>
<configuration>
    <system.web>
      <httpRuntime executionTimeout="999" requestValidationMode="2.0"  />    <!-- need for http post with rich text -->
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	<location path="css">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="js">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="images">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="dailytask.ashx">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="HtmlEditor.aspx">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="RapportReference.aspx">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
</configuration>
